# deb packaging
debian/cockpit-zfs-manager
debian/cockpit-zfs-manager.substvars
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# docker builds
dist
upload.sh

# extracted assets e.g. fonts
src/**/*.woff
src/**/*.woff2
