<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!--
Policy definitions for zfs

Copyright (C) 2020 bkelly@45Drives.com

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library.  If not, see
<http://www.gnu.org/licenses/>.
-->

<policyconfig>
    <action id="org.45drives.zfs.set">
      <description>zpool set</description>
      <message>zpool set</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">set</annotate>
    </action>
    <action id="org.45drives.zfs.get">
      <description>zpool get</description>
      <message>zpool get</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">get</annotate>
    </action>
    <action id="org.45drives.zfs.create">
      <description>zpool create</description>
      <message>zpool create</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">create</annotate>
    </action>
    <action id="org.45drives.zfs.destroy">
      <description>zpool destroy</description>
      <message>zpool destroy</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">destroy</annotate>
    </action>
    <action id="org.45drives.zfs.unmount">
      <description>zpool unmount</description>
      <message>zpool unmount</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">unmount</annotate>
    </action>
    <action id="org.45drives.zfs.mount">
      <description>zpool mount</description>
      <message>zpool mount</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">mount</annotate>
    </action>
    <action id="org.45drives.zfs.unmount">
      <description>zpool rename</description>
      <message>zpool rename</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">rename</annotate>
    </action>
    <action id="org.45drives.zfs.inherit">
      <description>zpool inherit</description>
      <message>zpool inherit</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">inherit</annotate>
    </action>
    <action id="org.45drives.zfs.snapshot">
      <description>zpool snapshot</description>
      <message>zpool snapshot</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">snapshot</annotate>
    </action>
    <action id="org.45drives.zfs.clone">
      <description>zpool clone</description>
      <message>zpool clone</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">clone</annotate>
    </action>
    <action id="org.45drives.zfs.rollback">
      <description>zpool rollback</description>
      <message>zpool rollback</message>
      <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/sbin/zfs</annotate>
      <annotate key="org.freedesktop.policykit.exec.argv1">rollback</annotate>
    </action>
</policyconfig>

