// Allow any user in the 'zfsadmin' group to use zfs/zpool commands
// without entering a password.

polkit.addRule(function(action, subject) {
    if ((
        action.id == "org.45drives.zpool.import"        ||
        action.id == "org.45drives.zpool.export"        ||
        action.id == "org.45drives.zpool.create"        ||
        action.id == "org.45drives.zpool.labelclear")   &&
        subject.isInGroup("smbadmin")) {
        return polkit.Result.YES;
    }
});
