// Allow any user in the 'smbadmin' group to use zfs/zpool commands
// without entering a password.

polkit.addRule(function(action, subject) {
    if ((
        action.id == "org.45drives.zfs.get"        ||
        action.id == "org.45drives.zfs.set"        ||
        action.id == "org.45drives.zfs.create"     ||
        action.id == "org.45drives.zfs.unmount"    ||
        action.id == "org.45drives.zfs.mount"      ||
        action.id == "org.45drives.zfs.rename"     ||
        action.id == "org.45drives.zfs.destroy"    ||
        action.id == "org.45drives.zfs.inherit"    ||
        action.id == "org.45drives.zfs.snapshot"   ||
        action.id == "org.45drives.zfs.clone"      ||
        action.id == "org.45drives.zfs.rollback")  &&
        subject.isInGroup("smbadmin")) {
        return polkit.Result.YES;
    }
});
